/*Her impoterer jeg variables*/

@import "variables";

/*Så er der ingen uønsket margin*/

body,
h1,
h2,
p,
nav ul,
nav li,
div ul,
div li {
    margin: $marginnone;
    padding: $marginnone;
}


/*Min wrapper*/

.wrapper {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
}


/*Header*/

header {
    width: $width;
    margin: 0 auto;
    max-width: 100%;
    img {
        width: 100%;
    }
    /*Min menu*/
    nav {
        border-top: $border;
        border-bottom: $border;
        height: 38px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        ul {
            padding-left: 1%;
            padding-right: 1%;
            .gray {
                background-color: #e7e7e7;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                width: 84%;
            }
            li {
                display: inline-block;
            }
            a {
                text-decoration: none;
                color: #777;
                text-transform: uppercase;
                font-family: $fontfamily;
                font-size: $fontsize;
            }
        }
        #ul1 {
            padding-top: 1%;
        }
        .li1 {
            padding-right: 25px;
        }
    }
}


/*Min main*/

main {
    width: $width;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: $border;
    /*Aside*/
    aside {
        width: 26%;
        padding-top: 4%;
        max-width: 100%;
        img {
            width: 100%;
        }
        p {
            font-family: $fontfamily;
            font-size: $fontsize;
            padding-top: 4%;
            padding-bottom: 7%;
            border-bottom: $border;
        }
        /*Font-awesome ikoner*/
        .fa-2x {
            padding-top: 7%;
        }
    }
    /*Min post class til artikler*/
    .post {
        width: 70%;
        max-width: 100%;
        padding-top: 2%;
        /*Selve artiklen*/
        article {
            width: 100%;
            border-bottom: $border;
            padding-bottom: 2%;
            padding-top: 3%;
            img {
                width: 100%;
            }
            h1 {
                font-family: $fontfamily;
                font-size: 20px;
            }
            /*De to classer som beskriver afsenderen og tiden*/
            .afsender,
            .time {
                font-size: $fontsize;
                display: inline-block;
                text-transform: uppercase;
            }
            .afsender {
                p {
                    display: inline-block;
                    color: #ccc;
                }
            }
            /*Atikle beskrivelsen*/
            p {
                font-family: $fontfamily;
                font-size: $fontsize;
            }
        }
    }
}

footer {
    margin: 0 auto;
    text-align: center;
}