@charset "UTF-8";
/*Her impoterer jeg variables*/
/*Så er der ingen uønsket margin*/
/* line 7, C:/xampp/htdocs/eksamen/CSS/logind.scss */
body,
h1,
h2,
p,
nav ul,
nav li,
div ul,
div li {
  margin: 0px;
  padding: 0px; }

/*Min wrapper*/
/* line 22, C:/xampp/htdocs/eksamen/CSS/logind.scss */
.wrapper {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto; }

/*Header*/
/* line 31, C:/xampp/htdocs/eksamen/CSS/logind.scss */
header {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  /*Min menu*/ }
  /* line 35, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  header img {
    width: 100%; }
  /* line 39, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  header nav {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    /* line 46, C:/xampp/htdocs/eksamen/CSS/logind.scss */
    header nav ul {
      padding-right: 1%;
      padding-left: 1%; }
      /* line 49, C:/xampp/htdocs/eksamen/CSS/logind.scss */
      header nav ul .gray {
        background-color: #e7e7e7;
        padding: 10px 4px 10px 18px;
        display: inline-block;
        width: 84%; }
      /* line 55, C:/xampp/htdocs/eksamen/CSS/logind.scss */
      header nav ul li {
        display: inline-block; }
      /* line 58, C:/xampp/htdocs/eksamen/CSS/logind.scss */
      header nav ul a {
        text-decoration: none;
        color: #777;
        text-transform: uppercase;
        font-family: "helvetica";
        font-size: 12px; }
    /* line 66, C:/xampp/htdocs/eksamen/CSS/logind.scss */
    header nav #ul1 {
      padding-top: 1%; }
    /* line 69, C:/xampp/htdocs/eksamen/CSS/logind.scss */
    header nav .li1 {
      padding-right: 25px; }

/*Min main*/
/* line 78, C:/xampp/htdocs/eksamen/CSS/logind.scss */
main {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #ccc;
  padding-bottom: 2%;
  padding-top: 15px;
  /*Felterne hvor du skal indtaste dit brugernavn og password*/
  /*Knappen for at logge ind*/
  /*Informationerne om hvilket flet der er til brugernavn og password*/ }
  /* line 88, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  main form {
    width: 100%; }
  /* line 91, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  main input[type=text],
  main select {
    width: 100%;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 25px; }
  /* line 104, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  main input[type=submit] {
    padding: 6px 10px;
    background-color: transparent;
    border: solid 1px lightgray;
    margin-top: 2%; }
  /* line 111, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  main label {
    font-family: "helvetica";
    font-weight: bold;
    font-size: 12px; }

/*Footer*/
/* line 121, C:/xampp/htdocs/eksamen/CSS/logind.scss */
footer {
  margin: 0 auto;
  text-align: center;
  padding-top: 1%; }

/*Virker på skærme med 423px i breden*/
@media screen and (max-width: 423px) {
  /* line 132, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  header nav {
    justify-content: center;
    height: 130px; }
    /* line 136, C:/xampp/htdocs/eksamen/CSS/logind.scss */
    header nav ul li {
      display: block;
      text-align: center;
      padding-bottom: 10%; }
    /* line 141, C:/xampp/htdocs/eksamen/CSS/logind.scss */
    header nav ul a {
      padding-left: 11px; }
  /* line 146, C:/xampp/htdocs/eksamen/CSS/logind.scss */
  header #logind {
    display: block; }
    /* line 148, C:/xampp/htdocs/eksamen/CSS/logind.scss */
    header #logind .gray {
      width: 100%;
      padding-right: 0;
      padding: 10px 10px 0px 3px; } }

/*# sourceMappingURL=logind.css.map */