@charset "UTF-8";
/*Her impoterer jeg variables*/
/*Så er der ingen uønsket margin*/
/* line 6, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
body,
h1,
h2,
p,
nav ul,
nav li,
div ul,
div li {
  margin: 0px;
  padding: 0px; }

/*Min wrapper*/
/* line 19, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
.wrapper {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto; }

/*Header*/
/* line 26, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
header {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  /*Min menu*/
  /*Ul hvor linket går til log ind siden*/
  /*Når man er logget ind kommer dette frem*/ }
  /* line 30, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
  header img {
    width: 100%; }
  /* line 34, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
  header nav {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    height: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    /* line 41, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
    header nav ul {
      padding-left: 1%;
      padding-right: 1%;
      /*Det grå menupunkt*/ }
      /* line 45, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
      header nav ul .gray {
        background-color: #e7e7e7;
        padding: 10px 4px 10px 18px;
        display: inline-block;
        width: 24%; }
      /* line 51, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
      header nav ul li {
        display: inline-block; }
      /* line 54, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
      header nav ul a {
        text-decoration: none;
        color: #777;
        text-transform: uppercase;
        font-family: "helvetica";
        font-size: 12px; }
    /* line 62, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
    header nav .li1 {
      padding-right: 25px; }
  /* line 67, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
  header #logind {
    padding-top: 1%; }
  /* line 71, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
  header h4 {
    font-family: "helvetica";
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    padding-right: 1%;
    margin-top: 1%; }
    /* line 78, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
    header h4 a {
      text-decoration: none;
      font-family: "helvetica";
      font-size: 12px;
      text-transform: uppercase;
      color: #777; }

/*Min main*/
/* line 89, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
main {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: solid 1px #ccc; }

/*Footer*/
/* line 102, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
footer {
  margin: 0 auto;
  text-align: center;
  padding-top: 1%; }

/*Virker på skærme med 423px i breden*/
@media screen and (max-width: 423px) {
  /* line 111, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
  header nav {
    justify-content: center;
    height: 160px; }
    /* line 115, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
    header nav ul .gray {
      width: 100%;
      padding-right: 0;
      padding: 10px 10px 0px 3px; }
    /* line 120, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
    header nav ul li {
      display: block;
      text-align: center;
      padding-bottom: 10%; }
    /* line 125, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
    header nav ul a {
      padding-left: 34px; }
  /* line 130, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
  header #logind {
    display: block; }
  /* line 134, C:/xampp/htdocs/eksamen/CSS/slideshow.scss */
  main {
    flex-direction: column;
    padding-top: 3%; } }

/*# sourceMappingURL=slideshow.css.map */