@import "variables";

/*Så er der ingen uønsket margin*/

body,
h1,
h2,
p,
nav ul,
nav li,
div ul,
div li {
    margin: $marginnone;
    padding: $marginnone;
}

.wrapper {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    width: $width;
    margin: 0 auto;
    max-width: 100%;
    nav {
        border-top: $border;
        border-bottom: $border;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        ul {
            padding-top: 1%;
            padding-left: 1%;
            padding-right: 1%;
            li {
                display: inline-block;
                padding-right: 25px;
                a {
                    text-decoration: none;
                    color: #777;
                    text-transform: uppercase;
                    font-family: $fontfamily;
                    font-size: $fontsize;
                }
            }
        }
    }
}

main {
    width: $width;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    aside {
        width: 26%;
        padding-top: 4%;
        max-width: 100%;
        p {
            font-family: $fontfamily;
            font-size: $fontsize;
            padding-top: 4%;
            padding-bottom: 7%;
            border-bottom: $border;
        }
        .fa-2x {
            padding-top: 7%;
        }
    }
    .post {
        width: 70%;
        max-width: 100%;
        padding-top: 2%;
        article {
            width: 100%;
            border-bottom: $border;
            padding-bottom: 2%;
            padding-top: 3%;
            img {
                width: 100%;
            }
            h1 {
                font-family: $fontfamily;
                font-size: 20px;
            }
            .afsender,
            .time {
                display: inline-block;
                font-size: $fontsize;
                p {
                    display: inline-block;
                    color: #ccc;
                }
            }
            p {
                font-family: $fontfamily;
                font-size: $fontsize;
            }
        }
    }
}